@font-face {
	font-family: fifteen;
	src: url(Pacifico-Regular.woff);
}
@font-face {
	font-family: newGame;
	src: url(ClearSans-Bold-webfont.woff);
}

body {
	background-color: #57407c;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
table {
	width: 450px;
	height: 450px;
	margin: 0 auto;
	border-spacing: 10px;
	border-collapse: separate;
}
td {
	text-align: center;
	font-size: 50pt;
	font-family: fifteen;
	font-weight: bold;
	border-radius: 12px;
	color: #ffffff;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
.tale {
	background-color: #6ac6b8;
	text-shadow: 3px 3px 2px #489591;
}
.hole {
	background-color: #3d2963;
}
.on-place {
	background-color: #e88a45;
	text-shadow: 3px 3px 2px #cd583a;
}

.game-info {
	background-color: #3d2963;
	width: 300px;
	height: 50px;
	color: white;
	margin-top: 30px;
	border-radius: 12px;
	font-family: newGame;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}
.game-info-button {
	background-color: #3d2963;
	width: 200px;
	height: 50px;
	color: white;
	margin-top: 30px;
	border-radius: 12px;
	font-family: newGame;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}
button {
	border: none;
}
.modal-text {
	font-size: 50pt;
	font-family: fifteen;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
}
